<h1>New Child of <%=@parent_community.name-%></h1>
<% form_tag :action => 'create_child' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
