<% for column in Community.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @community.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @community %> |
<%= link_to 'Back', :action => 'list' %>
