<div class="lcol">
  <div id="notepaper" class="notepaper2">
    <div class="inner">
      <h2>Yo! you want to...</h2>
      <%= render :partial => 'yywt' %><br />
      <%= render :partial => 'search_form' %><br />
      <%= render :partial => 'tabs' %>

    </div>
  </div>
</div>

<div class="mcol clearfix">
  <div class="stickyCol clearfix">
    <%=assembled_yos_in-%>
  </div>
  <div class="stickyCol clearfix">
    <%=assembled_yos_out-%>
  </div>
</div>
